<div class="panel panel-default">
    <div class="panel-heading" data-link="{{link}}">
        <span class="title">{{title}}</span> →
        <div class="author">By {{author}}</div>
    </div>
    <div class="panel-body">
        <p class="blurb">{{blurb}}</p>
        <button class="btn btn-comix" id="button-{{id}}">
            Show <span class="how-many"></span>Comments <span class="glyphicon glyphicon-comment"></span>
        </button>
        <div class="comments" id="comments-{{id}}">
        </div>
    </div>
      
</div>